.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: 30px;
}

.footer-content h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.footer-content p {
  margin-top: 8px;
  font-size: 14px;
  color: #d1d5db;
}